// cores  #7C56F6
$roxo: #7C56F6;
$roxo-claro: #AD70F1;
$azul: #3B94F1;
$azul-claro: #47AFF4;
$verde: #4DCDCC;
$verde-claro: #67DDD1;
$laranja: #F47D3A;
$laranja-claro: #F7B329;
$cinza-escuro: #363953;
$cinza: #5E6B8C;
$cinza-claro: #B6C7DE;
$branco: #FFF;

// bg
$bg-cinza: #F5F6F8;
$bg-laranja-claro: rgba(252,177,73,0.27);
$bg-laranja: rgba(248,123,72,0.27);
$bg-verde: rgba(60,205,204,0.27);
$bg-azul: rgba(58,134,246,0.27);
$bg-roxo-claro: rgba(177,115,232,0.27);
$bg-roxo: rgba(140,104,230,0.27);
$bg-escuro: #171732;

// fontes
$light: 300;
$regular: 400;
$bold: 700;

// imports
@import 'reset';

// geral
body {
  font-family: 'Nunito', sans-serif;
  color: $cinza-escuro;
  font-size: 21px;
  line-height: normal;
}
a {
  color: $azul;
  cursor: pointer;
}
a:hover {
  color: $azul-claro;
  text-decoration: none !important;
}
h1 {
  font-size: 3em;
  line-height: 1.3em;
  font-weight: $bold;
  color: $roxo;
  margin-bottom: 21px;
}
h2 {
  font-size: 2em;
  color: $roxo;
  font-weight: $bold;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-size: 1.7em;
  color: $roxo;
  font-weight: $bold;
  margin-bottom: 21px;
  margin-top: 20px;
}
h4 {
  font-size: 1.3em;
  color: $roxo;
  font-weight: $bold;
  margin-bottom: 21px;
  margin-top: 40px;
}
p {
  margin-bottom: 21px;
  font-size: 1.23em;
  line-height: 1.6em;
}
ul {
  margin-bottom: 21px;
}
strong {
  font-weight: $bold !important;
}
@mixin placeholder($color) {
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color !important;
    opacity: 1; /* Firefox */
    font-weight: $light;
    font-style: italic;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color !important;
    font-weight: $light;
    font-style: italic;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $color !important;
    font-weight: $light;
    font-style: italic;
  }
}
@include placeholder($cinza-claro);
.btn-primary {
  border-radius: 100px;
  border:2px solid $laranja;
  background-color: $laranja;
  color:$branco;
  transition: all 0.5s;
  font-weight: $regular;
  padding: 9px 30px;
  text-transform: uppercase;
  font-size: 18px;
  &:hover {
    background-color: $laranja-claro;
    border:2px solid $laranja-claro;
  }
  @media(max-width:767px) {
    font-size: 15px;
  }
}
.btn-secondary {
  border-radius: 100px;
  border:2px solid $cinza-escuro;
  background-color: $cinza-escuro;
  color:$branco;
  transition: all 0.5s;
  font-weight: $regular;
  padding: 9px 30px;
  text-transform: uppercase;
  font-size: 18px;
  &:hover {
    background-color: $cinza-claro;
    border:2px solid $cinza-claro;
  }
  @media(max-width:767px) {
    font-size: 15px;
  }
}
strong {
  font-weight: $bold !important;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media(max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.icons {
  margin-top: 40px;
}
.col-md-3 > .icons {
  max-width: 45%;
}

.col-md-2 > .icons {
  max-width: 65%;
}

// landing Embaixador

section.topo {
  padding-bottom: 0;
  background: linear-gradient(90deg, rgba(124,86,246,1) 1%, rgba(77,205,204,1) 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  h1 {
    color:$branco;
    padding: 50px 0 30px;
    font-size: 3em;
    line-height: 1.2em;
  }
  p {
    font-size: 1.5em;
    color:$branco;
    line-height: 1.7em;
  }
  @media (max-width:767px) {
    h1 {
      font-size: 2.3em;
    }
  }
}
.topo-left {
  padding-bottom: 100px;
  padding-top: 30px;
}
.image-topo {
  background: url(../img/topo.png) no-repeat bottom left;
  background-size: contain;

}

//footer

footer {
  background: linear-gradient(90deg, rgba(124,86,246,1) 1%, rgba(77,205,204,1) 100%);
  margin-top: 30px;
  padding: 15px;
  height: 70px;
  p {
    margin:0;
    padding:0;
    font-size: 1.2em;
    color:$branco;
  }
}

//form
form {
  label {
    color: $branco;
  }
}

// text color
.text-blue {
  color: $azul!important;
}
.text-green {
  color: $verde!important;
}
.text-white {
  color: $branco!important;
}

//bg-color
.bg-purple {
  background-color: $roxo;
}
